.git
.idea
.bak
.trash
.env
.test
*.sql
.ddev
.phpstorm.meta.php
gen
*.tar.gz
vendor
_gitPull.sh
_gitPush.sh
_phanlistcreate.sh
/Model/Generator/
/etc/config/attributes.yaml
/etc/config/input.yaml
/etc/config/select.yaml
/etc/config/textarea.yaml
/etc/config/Phormix/config/_datatype.php
/Enum/
/DataType/
/profile.yaml.php
/profile_assoc.yaml
